<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mafia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mafia_start_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetUpGame"
            android:label="Set Up"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.SETUPGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPlayer"
            android:label="New Player"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.ADDPLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name=".NightPhase"
            android:label="Night Phase"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.NIGHTPHASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DayPhase"
            android:label="Day Phase"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.DAYPHASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>